<div class="row px-5 container">
  <div class="col-md-3">
    <div class="card text-bg-light">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title ms-2 mb-4">Tickets abertos</h5>
          <i class="bi bi-clock text-primary"></i>
        </div>
        <h3 class="ms-2 mt-5">{{ qtdTickets }}</h3>
        <p class="card-text ms-2 text-muted">Em atendimento</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-bg-light">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title ms-2 mb-4">Críticos</h5>
          <i class="bi bi-exclamation-circle text-warning"></i>
        </div>
        <h3 class="ms-2 mt-5">0</h3>
        <p class="card-text ms-2 text-muted">Alta prioridade</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-bg-light">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title ms-2 mb-4">SLA Vencido</h5>
          <i class="bi bi-exclamation-circle text-danger"></i>
        </div>
        <h3 class="ms-2 mt-5">0</h3>
        <p class="card-text ms-2 text-muted">Requer atenção</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-bg-light">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title ms-2 mb-4">Resolvidos Hoje</h5>
          <i class="bi bi-check-circle text-success"></i>
        </div>
        <h3 class="ms-2 mt-5">0</h3>
        <p class="card-text ms-2 text-muted">Tickets fechados</p>
      </div>
    </div>
  </div>
</div>
