<app-navbar></app-navbar>

<div class="container-fluid px-3 px-md-4 px-lg-5 py-4 py-lg-5 main-content-area">
  <div class="header-section mb-4 mb-lg-5">
    <h3 class="fs-4 fs-md-3">Dashboard</h3>
    <h5 class="text-muted fs-6">Visão geral do sistema</h5>
  </div>

  <div class="row mb-4 mb-lg-5">
    <div class="col-12">
      <app-card-estatistica></app-card-estatistica>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-chamados-nao-atribuidos></app-chamados-nao-atribuidos>
    </div>
  </div>
</div>